# New dataset with one hour shift and the new 32 features

In [ ]:
# ----------------------------
# 1. Feature Calculation Logic
# ----------------------------

def calculate_all_features(activity_windows):
    features = []

    for window in activity_windows:
        try:
            window = np.array(window)
            feature_dict = {}

            # Time-Domain Features (1‚Äì17)
            feature_dict['Minimum'] = np.min(window)
            feature_dict['Maximum'] = np.max(window)
            feature_dict['Mean'] = np.mean(window)
            feature_dict['RMS'] = np.sqrt(np.mean(np.square(window)))
            feature_dict['STD'] = np.std(window)

            # 6-hour windows
            six_h_windows = [window[i*6:(i+1)*6] for i in range(4)]
            stds_6h = [np.std(w) for w in six_h_windows]
            means_6h = [np.mean(w) for w in six_h_windows]
            feature_dict['MeanSTD6h'] = np.mean(stds_6h)
            feature_dict['STDMean6h'] = np.std(means_6h)

            diffs = np.diff(window)
            feature_dict['STDSD'] = np.std(diffs)


            # RMSSD (successive differences)
            feature_dict['RMSSD'] = np.sqrt(np.mean(np.square(diffs)))

            # Distribution features
            feature_dict['Mode'] = stats.mode(window, keepdims=True)[0][0] if len(window) > 0 else np.nan
            feature_dict['Q10'] = np.percentile(window, 10)
            feature_dict['Q90'] = np.percentile(window, 90)
            feature_dict['Q25'] = np.percentile(window, 25)
            feature_dict['Q50'] = np.percentile(window, 50)
            feature_dict['Q75'] = np.percentile(window, 75)
            feature_dict['Skewness'] = stats.skew(window)
            feature_dict['Kurtosis'] = stats.kurtosis(window)

            # Autocorrelation (lags 1 to 11)
            for lag in range(1, 12):
                if len(window) > lag:
                    corr = np.corrcoef(window[:-lag], window[lag:])[0, 1]
                else:
                    corr = np.nan
                feature_dict[f'Autocorr{lag}'] = corr

            # Frequency-Domain Features (harmonics)
            fft_result = np.abs(fft.fft(window))
            harmonics = fft_result[1:5]
            for i, h in enumerate(harmonics, 1):
                feature_dict[f'h{i}'] = h

            features.append(feature_dict)

        except Exception as e:
            print(f"Error processing window: {e}")
            features.append({f: np.nan for f in FEATURE_NAMES})

    return pd.DataFrame(features)

# Feature name list (same order as above)
FEATURE_NAMES = [
    'Minimum', 'Maximum', 'Mean', 'RMS', 'STD',
    'MeanSTD6h', 'STDMean6h', 'STDSD', 'RMSSD', 'Mode',
    'Q10', 'Q90', 'Q25', 'Q50', 'Q75',
    'Skewness', 'Kurtosis',
    *[f'Autocorr{i}' for i in range(1, 12)],
    *[f'h{i}' for i in range(1, 5)]
]

# ----------------------------
# 2. Apply Feature Extraction
# ----------------------------

features_df = calculate_all_features(shifted_df['activity_window'])

c:\Users\ayagr\AppData\Local\Programs\Python\Python312\Lib\site-packages\numpy\_core\_methods.py:218: RuntimeWarning: Degrees of freedom <= 0 for slice
  ret = _var(a, axis=axis, dtype=dtype, out=out, ddof=ddof,
c:\Users\ayagr\AppData\Local\Programs\Python\Python312\Lib\site-packages\numpy\_core\_methods.py:175: RuntimeWarning: invalid value encountered in divide
  arrmean = um.true_divide(arrmean, div, out=arrmean,
c:\Users\ayagr\AppData\Local\Programs\Python\Python312\Lib\site-packages\numpy\_core\_methods.py:210: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\ayagr\AppData\Local\Programs\Python\Python312\Lib\site-packages\numpy\_core\fromnumeric.py:3596: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\ayagr\AppData\Local\Programs\Python\Python312\Lib\site-packages\numpy\_core\_methods.py:138: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)

In [ ]:
shifted_df.columns

Index(['cow', 'start_time', 'end_time', 'duration_hours', 'activity_window',
       'oestrus', 'calving', 'lameness', 'mastitis', 'other_disease', 'OK'],
      dtype='object')

In [ ]:
# ----------------------------
# 3. Combine with Original Data
# ----------------------------

shifted_df_cleaned = shifted_df.drop(columns=['activity_window'])
features_columns = ['cow', 'start_time', 'end_time', 'duration_hours']
label_columns = [col for col in shifted_df_cleaned.columns if col not in features_columns]

final_df = pd.concat([
    shifted_df_cleaned[features_columns],
    features_df[FEATURE_NAMES],
    shifted_df_cleaned[label_columns]
], axis=1)

# ----------------------------
# 4. Save and Display
# ----------------------------

output_path = "32features_1hour_shift_1.csv"
final_df.to_csv(output_path, index=False)

print(f"\n‚úÖ Processing complete! Results saved to {output_path}")
print(f"üìä Final dataset shape: {final_df.shape}")
print("\nüîç First 3 rows of the final dataset:")
display(final_df.head(3))

‚úÖ Processing complete! Results saved to 32features_1hour_shift_1.csv
üìä Final dataset shape: (39754, 42)

üîç First 3 rows of the final dataset:

,cow,start_time,end_time,duration_hours,Minimum,Maximum,Mean,RMS,STD,MeanSTD6h,...,h1,h2,h3,h4,oestrus,calving,lameness,mastitis,other_disease,OK
0,151,2015-03-02 01:00:00,2015-03-03 00:00:00,24,-821.62874,1471.43776,266.806858,909.703731,869.698211,582.102664,...,9054.881839,2749.134118,5402.793031,5328.034727,0,0,0,0,0,1
1,151,2015-03-02 02:00:00,2015-03-03 01:00:00,24,-821.62874,1471.43776,260.727509,914.461769,876.505272,688.865117,...,9200.190073,2875.733548,5292.373492,5310.124693,0,0,0,0,0,1
2,151,2015-03-02 03:00:00,2015-03-03 02:00:00,24,-821.62874,1471.43776,260.574873,914.598511,876.693317,746.260210,...,9203.629436,2877.617696,5292.140348,5313.078588,0,0,0,0,0,1

In [ ]:
display(final_df.head(24))

,cow,start_time,end_time,duration_hours,Minimum,Maximum,Mean,RMS,STD,MeanSTD6h,...,h1,h2,h3,h4,oestrus,calving,lameness,mastitis,other_disease,OK
0,151,2015-03-02 01:00:00,2015-03-03 00:00:00,24,-821.62874,1471.43776,266.806858,909.703731,869.698211,582.102664,...,9054.881839,2749.134118,5402.793031,5328.034727,0,0,0,0,0,1
1,151,2015-03-02 02:00:00,2015-03-03 01:00:00,24,-821.62874,1471.43776,260.727509,914.461769,876.505272,688.865117,...,9200.190073,2875.733548,5292.373492,5310.124693,0,0,0,0,0,1
2,151,2015-03-02 03:00:00,2015-03-03 02:00:00,24,-821.62874,1471.43776,260.574873,914.598511,876.693317,746.260210,...,9203.629436,2877.617696,5292.140348,5313.078588,0,0,0,0,0,1
3,151,2015-03-02 04:00:00,2015-03-03 03:00:00,24,-821.13265,1471.43776,262.275842,913.107192,874.629137,729.288874,...,9170.273156,2877.205955,5265.248174,5275.739072,0,0,0,0,0,1
4,151,2015-03-02 05:00:00,2015-03-03 04:00:00,24,-827.99977,1471.43776,241.827879,926.062472,893.930075,732.949766,...,9491.396989,2667.298899,5754.926014,5349.922811,0,0,0,0,0,1
5,151,2015-03-02 06:00:00,2015-03-03 05:00:00,24,-827.99977,1471.43776,231.884563,933.153749,903.883548,640.289696,...,9602.092796,2487.385133,5936.096960,5173.045504,0,0,0,0,0,1
6,151,2015-03-02 07:00:00,2015-03-03 06:00:00,24,-827.99977,1471.43776,233.088141,934.176781,904.630409,594.098979,...,9595.503918,2515.556461,5933.575014,5200.682914,0,0,0,0,0,1
7,151,2015-03-02 08:00:00,2015-03-03 07:00:00,24,-827.99977,1471.43776,218.765402,914.203682,887.642987,682.144507,...,9590.270481,2189.753674,5718.064976,5133.466697,0,0,0,0,0,1
8,151,2015-03-02 09:00:00,2015-03-03 08:00:00,24,-827.99977,1471.43776,144.999946,909.194634,897.557741,742.649737,...,9295.548347,1715.586493,3969.596025,6597.874933,0,0,0,0,0,1
9,151,2015-03-02 10:00:00,2015-03-03 09:00:00,24,-827.99977,1471.43776,179.451341,903.354889,885.351496,731.060344,...,9599.769253,1312.119233,4676.902163,5899.619695,0,0,0,0,0,1
10,151,2015-03-02 11:00:00,2015-03-03 10:00:00,24,-827.99977,1471.43776,178.208205,901.458009,883.667572,740.239226,...,9581.061219,1333.147496,4668.496173,5897.367898,0,0,0,0,0,1
11,151,2015-03-02 12:00:00,2015-03-03 11:00:00,24,-827.99977,1471.43776,129.585128,856.297769,846.435800,643.903341,...,8667.316145,2479.569001,5329.877799,4873.448164,0,0,0,0,0,1
12,151,2015-03-02 13:00:00,2015-03-03 12:00:00,24,-827.99977,1471.43776,100.537787,870.175362,864.347913,603.997417,...,8045.405961,3136.314418,6024.545422,4271.771106,0,0,0,0,0,1
13,151,2015-03-02 14:00:00,2015-03-03 13:00:00,24,-827.99977,1471.43776,96.473971,868.564221,863.189770,683.191268,...,7950.390218,3203.212799,6099.077101,4277.341237,0,0,0,0,0,1
14,151,2015-03-02 15:00:00,2015-03-03 14:00:00,24,-827.99977,1471.43776,87.708356,855.330658,850.821825,720.842341,...,7740.131638,3260.312987,6121.476773,4467.263222,0,0,0,0,0,1
15,151,2015-03-02 16:00:00,2015-03-03 15:00:00,24,-827.99977,1471.43776,125.638624,876.454704,867.402896,747.231622,...,8615.085248,3569.235479,6719.274815,3759.236802,0,0,0,0,0,1
16,151,2015-03-02 17:00:00,2015-03-03 16:00:00,24,-827.99977,1471.43776,128.651699,881.253250,871.811924,761.122697,...,8677.681480,3630.018338,6791.578661,3776.306765,0,0,0,0,0,1
17,151,2015-03-02 18:00:00,2015-03-03 17:00:00,24,-827.99977,1454.09472,69.318405,828.545320,825.640543,665.883427,...,7735.124170,2208.234146,5852.547959,2437.280251,0,0,0,0,0,1
18,151,2015-03-02 19:00:00,2015-03-03 18:00:00,24,-827.99977,1435.79722,19.030071,775.198905,774.965289,588.907335,...,7356.121912,1240.190137,6153.776772,1606.027931,0,0,0,0,0,1
19,151,2015-03-02 20:00:00,2015-03-03 19:00:00,24,-827.99977,1435.79722,35.052107,774.385315,773.591601,637.887986,...,7358.730691,1354.317544,5807.637537,1448.743069,0,0,0,0,0,1
20,151,2015-03-02 21:00:00,2015-03-03 20:00:00,24,-827.99977,1435.79722,30.502025,778.916344,778.318892,674.995435,...,7384.273425,1367.734069,5911.377530,1555.485498,0,0,0,0,0,1
21,151,2015-03-02 22:00:00,2015-03-03 21:00:00,24,-827.99977,1435.79722,25.526411,783.743266,783.327460,687.262046,...,7442.789814,1446.374978,5966.480595,1637.429013,0,0,0,0,0,1
22,151,2015-03-02 23:00:00,2015-03-03 22:00:00,24,-827.99977,1435.79722,16.532924,791.894809,791.722205,641.279389,...,7596.277450,1653.986508,5906.945510,1594.762627,0,0,0,0,0,1
23,151,2015-03-03 00:00:00,2015-03-03 23:00:00,24,-827.99977,1435.79722,66.924131,828.323960,825.615978,665.191602,...,6565.941489,580.768903,6980.613974,2751.869674,0,0,0,0,0,1